<h2>User Data</h2>

<table>
       <tr>
               <td>Auth Provider: </td>
               <td><%= @auth["provider"] %></td>
       </tr>
       <tr>
               <td>Unique ID: </td>
               <td><%= @auth["uid"] %></td>
       </tr>
       <tr>
               <td>Email: </td>
               <td><%= @auth["info"]["email"] %></td>
       </tr>
       <tr>
               <td>Username: </td>
               <td><%= @auth["info"]["nickname"] %></td>
       </tr>
       <tr>
               <td>Name: </td>
               <td><%= @auth["info"]["name"] %></td>
       </tr>
       <tr>
               <td>Mugshot: </td>
               <td><img src="<%= @auth["info"]["image"] %>" width="50" /></td>
       </tr>
</table>

<h2>Facebook Feed</h2>

<main>

    <% @graph.get_object("me/feed").each do |entry| %>
    <article>
        <header>
            <%= entry['from']['name'] %>
        </header>
        <div>
            <%= entry['story'] %>
            <%= image_tag entry['picture'] if entry['picture'] %>
        </div>
        <footer>
            <% entry['comments']['data'].each do |comment| %>
            <article>
                <%= comment['from']['name'] %>: <%= comment['message'] %>
            </article>
            <% end if entry['comments'] %>
        </footer>

        <pre><%= entry.inspect %></pre>

    </article>
    <% end %>

<h2>Auth Contains</h2>
<code>
       <%= @auth.inspect %>
</code>
