<aside>

    <h2>User Data</h2>

    <table>
           <tr>
                   <td>Auth Provider: </td>
                   <td><%= @auth["provider"] %></td>
           </tr>
           <tr>
                   <td>Unique ID: </td>
                   <td><%= @auth["uid"] %></td>
           </tr>
           <tr>
                   <td>Email: </td>
                   <td><%= @auth["info"]["email"] %></td>
           </tr>
           <tr>
                   <td>Username: </td>
                   <td><%= @auth["info"]["nickname"] %></td>
           </tr>
           <tr>
                   <td>Name: </td>
                   <td><%= @auth["info"]["name"] %></td>
           </tr>
           <tr>
                   <td>Mugshot: </td>
                   <td><img src="<%= @auth["info"]["image"] %>" width="50" /></td>
           </tr>
    </table>
</aside>

<main data-current-page="<%= @page %>">

    <h2>Facebook Feed</h2>

    <div class="stories">
        <%= render 'feed' %>
    </div>

    <div id="loading-text" class="text-center hidden">
        Loading...
    </div>
    <div id="more-button" class="text-center">
        <button class="btn btn-primary">Load More Posts</button>
    </div>

</main>
